# ignore output
archive/
output/
output*/
gpu_out/
results/
*.png
*.pdf
*.tar
out*/
tempout/
*.jar
*.pickle

# ignore VSC files
.vscode/
__pycache__
*.code-workspace

# ignore any root files
*.root

# ignore logs
*log*.txt
*.log
logs/

# random testing stuff
*_test/
random*/
.asetup

# zipped environment
whk_env.tar.gz